backend/venv/
backend/__pycache__/
backend/.env
frontend/node_modules/
frontend/dist/
frontend/.env
.DS_Store
*.log
.gemini/
backend/downloads/
backend/data/*.cdf
backend/output/

# ML generated data
*.npy
*.csv
*.h5
*.pt
*.pkl

backend/scripts/7_days_forecast/
